@import "tailwindcss";

@theme {
  --font-space: var(--next-font-space-grotesk), sans-serif;
}

@layer base {
  html {
    font-family: var(--font-space);
    scroll-behavior: smooth;
  }
}

/* Colors */
@theme {
  --color-dark: #151515;
  --color-gray: #242424;
  /* --color-green: #4ee1a0; */
  --color-green: #15bb72;
  --color-red: #ff6f5b;
  --color-light-200: #d9d9d9;
  --color-light-100: #ffffff;
}

/* Custom Utilities */
@layer utilities {
  .px-container {
    @apply px-[1rem] sm:px-[3rem] lg:px-[10rem];
  }
  .px-content {
    @apply px-[1rem] sm:px-[3rem] lg:px-[6rem];
  }
  .button-variant-underline {
    @apply py-3 border-b-3;
    @apply transition-all duration-300 cursor-pointer;
    border-color: var(--color-green);
    font-size: 18px;
  }
  .button-variant-underline:hover {
    color: var(--color-green);
  }
}

/* Text Utilities */
@layer utilities {
  .h1-bold {
    @apply text-[45px]/[45px] md:text-[70px]/[70px] xl:text-[88px]/[88px] tracking-[-2.5px] font-bold;
  }

  .h2-bold {
    @apply text-[48px]/[56px] tracking-[-1.5px] font-bold;
  }

  .h3-bold {
    @apply text-[24px]/[32px] font-bold;
  }

  .h4-bold {
    @apply text-[18px]/[28px] font-bold;
  }
  .h4-regular {
    @apply text-[18px]/[28px] font-normal;
  }

  .p1 {
    @apply text-[16px]/[24px];
  }
}
